		a, a:link, a:visited, a:active {
			color: blue;
			text-decoration: underline;
		}

		a:hover {
			cursor:pointer;
			color: red;
		}

		.black10pointcourier {
	  	font-family: 'courier'; 
			color: black;
			font-size: 10pt;		
		}
    

    /* Card Area */

    .card {
      width: 100%;
      height: 300px;
      border-radius: 20px;
      background: #f5f5f5;
      position: relative;
      padding: 1.8rem;
      border: 2px solid #c3c6ce;
      transition: 0.5s ease-out;
      overflow: visible;
    }
    
    .card-details {
      color: black;
      height: 100%;
      gap: .5em;
      display: grid;
      place-content: center;
    }
    
    .card-button {
      transform: translate(-50%, 125%);
      width: 60%;
      border-radius: 1rem;
      border: none;
      background-color: #008bf8;
      color: #fff;
      font-size: 1rem;
      padding: .5rem 1rem;
      position: absolute;
      left: 50%;
      bottom: 0;
      opacity: 0;
      transition: 0.3s ease-out;
    }
    
    .text-body {
      color: rgb(134, 134, 134);
    }
    
    .card:hover {
      border-color: #008bf8;
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
    
    .card:hover .card-button {
      transform: translate(-50%, 50%);
      opacity: 1;
    }
    
    .password-input {
      max-width: 200px;
      min-height: 20px;
      padding: 10px;
      font-family: 'Courier New', Courier, monospace;
      outline: none;
      background: #e8e8e8;
      border: none;
      border-radius: 10px;
      transition: all .5s;
    }
    
    .password-input:focus {
      background: #e8e8e8;
    }
    
    /* End of Card Area */
    

/* Dropzone Area */

		.dropzone {
      font-family: 'Courier New', Courier, monospace;
      color:black;
      width: 100%;
      padding: 2% 2% 5% 2%;
      text-align: center;
      margin: 5px auto; 
      border-radius: 25px;
      background: #fff;
      overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
    }

    .dropzone:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
    }
    
    .dropzone:hover .overlay {
      transform: scale(4) translateZ(0);
    }
    
    .dropzone:hover .circle {
      border-color: var(--bg-color-light);
      background: var(--bg-color);
    }
    
    .dropzone:hover .circle:after {
      background: var(--bg-color-light);
    }
    
    .dropzone:hover p {
      color: var(--text-color-hover);
    }
    
    .dropzone p {
      font-size: 17px;
      color: #4c5656;
      margin-top: 30px;
      z-index: 1000;
      transition: color 0.3s ease-out;
    }
    /* End of Dropzone area */

		.divTablefullwidth{
			display: table;
			width: 100%;
		}

		.divTable{
			display: table;
		}

		.divTableCell {
			display: table-cell;
			padding: 3px 3px;
            
		}
		.divTableBody {
			display: table-row-group;
            
		}

		.greenspan {
			color: green;	  
		}

		.redspan {
			color: red;	  
		}
        
    body {
      font-family: 'Courier New', Courier, monospace;
      color: white;
      font-size: 11pt;		
      background-image: url('blob-scene-haikei.svg');
      background-repeat: no-repeat;
      background-size: cover;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      overflow: auto; /* Old versions of Firefox */
      }

      /* Style the custom scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
      
      
    .your-class {
      background-image: url('blob-scene-haikei.svg');
    }
    
      a, a:link, a:visited, a:active {
          color: rgb(255, 255, 255);
          text-decoration: underline;
      }

      a:hover {
          cursor:pointer;
          color: red;
      }

      .black10pointcourier {
            font-family: 'courier'; 
          color: black;
          font-size: 10pt;		
      }

      .container {
          width: 80%;
          margin: 0 auto;
          margin-top: 100px;
      }
/*         
        #btnDivDecrypt {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          background-color: #007bff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          
        } */
        
        /* #btnDivDecrypt:hover {
          background-color: #0069d9;
        } */
        
        /* button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          background-color: #007bff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
        }
        
        button:hover {
          background-color: #0069d9;
        }
          
          #btnDivDecrypt {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          
          #btnDivDecrypt:hover {
            background-color: #0069d9;
          } */
          
          button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          
          button:hover {
            background-color: #0069d9;
          }

          .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 50px; /* atur sesuai ukuran logo */
            width: auto; /* atur sesuai ukuran logo */
            margin: 0;
            padding: 0;
          }
        
          nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            padding: 0 20px; /* reduced padding */
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            z-index: 9999;
            flex: 1;
          }          
        
          .logo-container {
            height: 100%;
            display: flex;
            align-items: center;
            }
            
            .logo {
            height: 40px;
            margin-right: 20px;
            }
            
            .nav-links {
              display: flex;
              flex: 1;
              margin-left: auto; 
              justify-content: flex-end;
              padding-right: 30px; /* Add padding to the right side */
            }            
            
            .nav-links li {
            list-style: none;
            }
            
            .nav-links a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            padding: 10px 15px;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;      
            }
            
            .nav-links a:hover {
            background-color: #333;
            color: #fff;
            }

          